:root {
  --primary-orange: #f0a04b;
  --secondary-yellow: #f6c453;
  --background-color: #fefbe9;
  --header-color: #e1eedd;
  --footer-color: #e1eedd;
  --button-color: #183a1d;
}

html,
body {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#logo {
  height: 120px;
  display: flex;
  justify-content: center;
  caret-color: transparent;
}

button,
input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: var(--background-color);
  border-radius: 8px;
  caret-color: transparent;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  border: 2px solid var(--header-color);
  border-radius: 12px;
}

button.active {
  background-color: var(--primary-orange);
}

button,
input[type="color"] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type="color"]:hover {
  transform: scale(1.05);
}

input[type="color"]:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type="color"] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  caret-color: transparent;
  flex-shrink: 0;
}

.grid-element {
  user-select: none;
}

#placeholder {
  height: 500px;
  width: 500px;
  background-color: black;
}

#btn-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}

.slider-and-value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-orange);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-orange);
  cursor: pointer;
}
